.race {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.race:hover {
  cursor: pointer;
  background-color: #A9A9A9;
}

.unselectable {
  user-select: none;
}

.striped {
  background-color: #D3D3D3;
}

.upcoming {
  background-color: rgba(220,0,0,0.5);
}

.round, .time {
  display: none;
}

.location {
  display: inline-block;
  width: 55%;
  padding-left: 0.5rem;
}

.date-time {
  display: inline-block;
  padding-right: 0.5rem;
  width: 40%;
}

.date {
  display: inline-block;
  width: 100%;
  text-align: right;
}

.arrow {
  display: inline-block;
  width: 5%;
  text-align: right;
  padding-right: 0.5rem;
  color: var(--ferrari);
}

@media only screen and (min-width: 480px) {
  .race {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .round {
    display: inline-block;
    width: 5%;
    text-align: right;
  }

  .location, .date-time {
    width: 45%;
  }

  .date, .time {
    display: inline-block;
    width: 50%;
    text-align: right;
  }
}
