nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav button {
  background-color: white;
  letter-spacing: 1px;
  padding: 0.25rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  height: 3rem;
}

nav button.h-ferrari:hover, nav button.bg-ferrari.active,
nav button.h-redbull:hover, nav button.bg-redbull.active,
nav button.h-alfaromeo:hover, nav button.bg-alfaromeo.active {
  color: white;
}
