.button {
  height: 3rem;
  min-width: 3rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  transition: 0.3s;
}

.button:hover:not(:disabled) {
  cursor: pointer;
  opacity: 0.5;
}

.button.bg-mercedes, .button.bg-renault, .button.bg-haas,
.button.bg-racingpoint, .button.bg-tororosso, .button.bg-mclaren,
.button.bg-williams {
  color: black;
}

.button:disabled {
  cursor: not-allowed;
  filter: saturate(25%);
  color: #bbb;
}

.button-left, .button-right {
  float: none;
}

@media only screen and (min-width: 480px) {
  .button-left {
    float: left;
  }

  .button-right {
    float: right;
  }
}
