header {
  background-color: rgb(220,0,0);
}

header.mercedes {
  background-color: rgb(0,210,190);
}

header.redbull {
  background-color: rgb(30,65,255);
}

header.renault {
  background-color: rgb(255,245,0);
}

header.haas {
  background-color: rgb(240,215,135);
}

header.racingpoint {
  background-color: rgb(245,150,200);
}

header.tororosso {
  background-color: rgb(70,155,255);
}

header.mclaren {
  background-color: rgb(255,135,0);
}

header.alfaromeo {
  background-color: rgb(155,0,0);
}

header.williams {
  background-color: rgb(255,255,255);
}

h1 {
  color: white;
  margin: 0;
}

h1.mercedes, h1.renault, h1.haas, h1.racingpoint, h1.tororosso, h1.mclaren, h1.williams {
  color: black;
}

option[value=ferrari] {
  background-color: rgb(220,0,0);
  color: white;
}

option[value=mercedes] {
  background-color: rgb(0,210,190);
}

option[value=redbull] {
  background-color: rgb(30,65,255);
  color: white;
}

option[value=renault] {
  background-color: rgb(255,245,0);
}

option[value=haas] {
  background-color: rgb(240,215,135);
}

option[value=racingpoint] {
  background-color: rgb(245,150,200);
}

option[value=tororosso] {
  background-color: rgb(70,155,255);
}

option[value=mclaren] {
  background-color: rgb(255,135,0);
}

option[value=alfaromeo] {
  background-color: rgb(155,0,0);
  color: white;
}

.dib {
  display: inline-block;
}

.select-wrapper {
  margin-left: 10px;
  margin-bottom: 0;
  padding-bottom: 10px;
}

@media only screen and (min-width: 600px) {
  .flex {
    display: flex;
    justify-content: space-between;
  }

  .select-wrapper {
    margin: 15px;
    padding-bottom: 0;
  }
}
