header {
  background-color: var(--ferrari);
}

header.mercedes {
  background-color: var(--mercedes);
}

header.redbull {
  background-color: var(--redbull);
}

header.renault {
  background-color: var(--renault);
}

header.haas {
  background-color: var(--haas);
}

header.racingpoint {
  background-color: var(--racingpoint);
}

header.tororosso {
  background-color: var(--tororosso);
}

header.mclaren {
  background-color: var(--mclaren);
}

header.alfaromeo {
  background-color: var(--alfaromeo);
}

header.williams {
  background-color: var(--williams);
}

h1 {
  color: white;
  margin: 0;
}

h1.mercedes, h1.renault, h1.haas, h1.racingpoint, h1.tororosso, h1.mclaren, h1.williams {
  color: black;
}

option[value=ferrari] {
  background-color: var(--ferrari);
  color: white;
}

option[value=mercedes] {
  background-color: var(--mercedes);
}

option[value=redbull] {
  background-color: var(--redbull);
  color: white;
}

option[value=renault] {
  background-color: var(--renault);
}

option[value=haas] {
  background-color: var(--haas);
}

option[value=racingpoint] {
  background-color: var(--racingpoint);
}

option[value=tororosso] {
  background-color: var(--tororosso);
}

option[value=mclaren] {
  background-color: var(--mclaren);
}

option[value=alfaromeo] {
  background-color: var(--alfaromeo);
  color: white;
}

.dib {
  display: inline-block;
}

.select-wrapper {
  margin-left: 10px;
  margin-bottom: 0;
  padding-bottom: 10px;
}

@media only screen and (min-width: 600px) {
  .flex {
    display: flex;
    justify-content: space-between;
  }

  .select-wrapper {
    margin: 15px;
    padding-bottom: 0;
  }
}
