.back-button {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: #999933;
  color: #FFFACD;
}

.back-button:hover {
  background-color: #737326;
  cursor: pointer;
}

.break-word {
  word-break: break-all;
}
