.season {
  display: inline-block;
}

@media only screen and (min-width: 600px) {
  .season {
    margin-left: 0;
  }
}

.season-select {
  border: 1px solid rgb(220,0,0);
  font-size: 16px;
  padding: 4px;
}

.season-select.mercedes {
  border: 1px solid rgb(0,210,190);
}

.season-select.redbull {
  border: 1px solid rgb(30,65,255);
}

.season-select.renault {
  border: 1px solid rgb(255,245,0);
}

.season-select.haas {
  border: 1px solid rgb(240,215,135);
}

.season-select.racingpoint {
  border: 1px solid rgb(245,150,200);
}

.season-select.tororosso {
  border: 1px solid rgb(70,155,255);
}

.season-select.mclaren {
  border: 1px solid rgb(255,135,0);
}

.season-select.alfaromeo {
  border: 1px solid rgb(155,0,0);
}

.season-select.williams {
  border: 1px solid black;
}
