:root {
  --ferrari: rgb(220,0,0);
  --mercedes: rgb(0,210,190);
  --redbull: rgb(30,65,255);
  --renault: rgb(255,245,0);
  --haas: rgb(240,215,135);
  --racingpoint: rgb(245,150,200);
  --tororosso: rgb(70,155,255);
  --mclaren: rgb(255,135,0);
  --alfaromeo: rgb(155,0,0);
  --williams: rgb(255,255,255);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, select {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

select {
  background-color: white!important;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 10px;
}

th, tr:nth-child(even) {
  background-color: #D3D3D3;
}

.button {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid var(--ferrari);
  background-color: var(--ferrari);
  color: white;
}

.button.mercedes {
  border: 1px solid var(--mercedes);
  background-color: var(--mercedes);
  color: black;
}

.button.redbull {
  border: 1px solid var(--redbull);
  background-color: var(--redbull);
}

.button.renault {
  border: 1px solid var(--renault);
  background-color: var(--renault);
  color: black;
}

.button.haas {
  border: 1px solid var(--haas);
  background-color: var(--haas);
  color: black;
}

.button.racingpoint {
  border: 1px solid var(--racingpoint);
  background-color: var(--racingpoint);
  color: black;
}

.button.tororosso {
  border: 1px solid var(--tororosso);
  background-color: var(--tororosso);
  color: black;
}

.button.mclaren {
  border: 1px solid var(--mclaren);
  background-color: var(--mclaren);
  color: black;
}

.button.alfaromeo {
  border: 1px solid var(--alfaromeo);
  background-color: var(--alfaromeo);
}

.button.williams {
  border: 1px solid black;
  background-color: var(--williams);
  color: black
}

.button:hover {
  cursor: pointer;
  background-color: rgba(220,0,0,0.5);
}

.button.mercedes:hover {
  background-color: rgba(0,210,190,0.5);
}

.button.redbull:hover {
  background-color: rgba(30,65,255,0.5);
}

.button.renault:hover {
  background-color: rgba(255,245,0,0.5);
}

.button.haas:hover {
  background-color: rgba(240,215,135,0.5);
}

.button.racingpoint:hover {
  background-color: rgba(245,150,200,0.5);
}

.button.tororosso:hover {
  background-color: rgba(70,155,255,0.5);
}

.button.mclaren:hover {
  background-color: rgba(255,135,0,0.5);
}

.button.alfaromeo:hover {
  background-color: rgba(155,0,0,0.5);
}

.button.williams:hover {
  background-color: rgba(204,204,204);
}

.container {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (min-width: 600px) {
  .container {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    margin-left: 160px;
    margin-right: 160px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    margin-left: 320px;
    margin-right: 320px;
  }
}

.mb10 {
  margin-bottom: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mt10 {
  margin-top: 10px;
}

.p10 {
  padding: 10px;
}

.responsive-table {
  overflow-x: auto;
}

.tr {
  text-align: right;
}

select {
  border: 1px solid var(--ferrari);
  font-size: 16px;
  padding: 4px;
}

select.mercedes {
  border: 1px solid var(--mercedes);
}

select.redbull {
  border: 1px solid var(--redbull);
}

select.renault {
  border: 1px solid var(--renault);
}

select.haas {
  border: 1px solid var(--haas);
}

select.racingpoint {
  border: 1px solid var(--racingpoint);
}

select.tororosso {
  border: 1px solid var(--tororosso);
}

select.mclaren {
  border: 1px solid var(--mclaren);
}

select.alfaromeo {
  border: 1px solid var(--alfaromeo);
}

select.williams {
  border: 1px solid black;
}
