:root {
  --ferrari: rgb(220,0,0);
  --mercedes: rgb(0,210,190);
  --redbull: rgb(30,65,255);
  --renault: rgb(255,245,0);
  --haas: rgb(240,215,135);
  --racingpoint: rgb(245,150,200);
  --tororosso: rgb(70,155,255);
  --mclaren: rgb(255,135,0);
  --alfaromeo: rgb(155,0,0);
  --williams: rgb(255,255,255);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, select {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

select {
  font-size: 16px;
  padding: 4px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 10px;
}

th, tr:nth-child(even) {
  background-color: #D3D3D3;
}

/* Ferrari */
.bg-ferrari, .h-ferrari:hover {
  background-color: var(--ferrari);
}

.b-ferrari {
  border: 1px solid var(--ferrari);
}

/* Mercedes */
.bg-mercedes, .h-mercedes:hover {
  background-color: var(--mercedes);
}

.b-mercedes {
  border: 1px solid var(--mercedes);
}

/* Red Bull */
.bg-redbull, .h-redbull:hover {
  background-color: var(--redbull);
}

.b-redbull {
  border: 1px solid var(--redbull);
}

/* Renault */
.bg-renault, .h-renault:hover {
  background-color: var(--renault);
}

.b-renault {
  border: 1px solid var(--renault);
}

/* Haas */
.bg-haas, .h-haas:hover {
  background-color: var(--haas);
}

.b-haas {
  border: 1px solid var(--haas);
}

/* Racing Point */
.bg-racingpoint, .h-racingpoint:hover {
  background-color: var(--racingpoint);
}

.b-racingpoint {
  border: 1px solid var(--racingpoint);
}

/* Toro Rosso */
.bg-tororosso, .h-tororosso:hover {
  background-color: var(--tororosso);
}

.b-tororosso {
  border: 1px solid var(--tororosso);
}

/* McLaren */
.bg-mclaren, .h-mclaren:hover {
  background-color: var(--mclaren);
}

.b-mclaren {
  border: 1px solid var(--mclaren);
}

/* Alfa Romeo */
.bg-alfaromeo, .h-alfaromeo:hover {
  background-color: var(--alfaromeo);
}

.b-alfaromeo {
  border: 1px solid var(--alfaromeo);
}

/* Williams */
.bg-williams {
  background-color: var(--williams);
}

.h-williams:hover, .bg-williams.active {
  background-color: rgb(204,204,204);
}

.b-williams {
  border: 1px solid black;
}

.button {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.button.bg-mercedes, .button.bg-renault, .button.bg-haas,
.button.bg-racingpoint, .button.bg-tororosso, .button.bg-mclaren,
.button.bg-williams {
  color: black;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(220,0,0,0.5);
}

.button.bg-mercedes:hover {
  background-color: rgba(0,210,190,0.5);
}

.button.bg-redbull:hover {
  background-color: rgba(30,65,255,0.5);
}

.button.bg-renault:hover {
  background-color: rgba(255,245,0,0.5);
}

.button.bg-haas:hover {
  background-color: rgba(240,215,135,0.5);
}

.button.bg-racingpoint:hover {
  background-color: rgba(245,150,200,0.5);
}

.button.bg-tororosso:hover {
  background-color: rgba(70,155,255,0.5);
}

.button.bg-mclaren:hover {
  background-color: rgba(255,135,0,0.5);
}

.button.bg-alfaromeo:hover {
  background-color: rgba(155,0,0,0.5);
}

.button.bg-williams:hover {
  background-color: rgba(204,204,204);
}

.container {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (min-width: 600px) {
  .container {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    margin-left: 160px;
    margin-right: 160px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    margin-left: 320px;
    margin-right: 320px;
  }
}

.mb10 {
  margin-bottom: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mt10 {
  margin-top: 10px;
}

.p10 {
  padding: 10px;
}

.responsive-table {
  overflow-x: auto;
}

.tr {
  text-align: right;
}
